.colorNav{
  background-color: white;
}
.logoWrapper >img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.login-template{
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  max-width: 90%;
  border-style:solid;
  border-color: rgb(68, 194, 87);;
}

.popup-form{
  padding: 50px;
  
}
.cart-link {
  display: flex;
  align-items: center;
}

.cart-count {
  background-color: green;
  color: white;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 50%;
  margin-left: 4px;
  vertical-align: super; 
}

.footLi{  
  color:white;
  font-size: large;
  margin-right: 30px;
  margin-left: 60px;
}
.footLi>li{  
 margin-top: 10px;
}

.footLi>li:hover{  
  color:yellow;
  cursor: pointer;
}
.footerMain{
  
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:rgb(17, 183, 130);
  /* background: linear-gradient(90deg, rgba(92,27,156,1) 0%, rgba(131,59,197,1) 56%, rgba(125,90,229,1) 100%, rgba(12,132,156,1) 100%); */
}
.footerEnd{
  text-align: center;
  background-color: white;
}

.footerEndTxt{
  font-weight: 600; 
  padding-top: 10px;   
}
.footerTop{
   text-align: center;
}
.footerTopItem>img{
  padding-top: 10px;
  padding-bottom: 10px;
    width: 200px;
}

.heading{
  margin-bottom: 20px;
}

.floatRightBtn{
  float: right;
  margin-right: 5px;
}
.topspace{
  margin-top: 10px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.center-img{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrapped-img{
  width: 18rem;
  height: 180px;
  margin-top: 10px;
  object-fit: contain;
  align-items: center;
  text-align: center;
}
.wrapped-img-order{
  width: 100%;
  height: 180px;
  margin-top: 10px;
  object-fit: contain;
  align-items: center;
  text-align: center;
}
.wrapper{
  width: 100px;
  height: 150px;
}

.user-name{
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  margin-right: 15px;
  cursor: pointer;
}

.filter-order{
  background-color:rgb(17, 183, 130);
  text-align: center;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 30px;
}